<mat-grid-list cols="4" class="main-div">




  <h1>Add Product to Divisions</h1>

  <div class="card-div">
    <mat-card class="card">

      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" width="100px"
        class="img">

      <h2>
        bakery
      </h2>
      <div class="card-action">
        <button mat-button class="product-btn" (click)="openAddProduct()">
          <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>

          Add Product
        </button>
      </div>

    </mat-card>




    <mat-card class="card">

      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" width="100px"
        class="img">

      <h2>
        Deli
      </h2>
      <div class="card-action">
        <button mat-button class="product-btn">
          <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>

          Add Product
        </button>
      </div>
    </mat-card>

  </div>



</mat-grid-list>
